:root {
  --accent-color: #FC552F;
  --side-text-color: #B3B3BA;
  --background-black-color: #1A1A1F;
  --background-darker-color: #07070C;
  --cream-color: #FFFCFB;
  --border-color: #F4F4F6;
}

body {
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
  width: 100%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2% 8.5%;
  height: 5rem;
  align-items: center;
}
nav h5.title {
  color: var(--accent-color);
  font-weight: 500;
  padding: 0;
  margin: 0;
  font-size: 1.8rem;
}
nav .buttons {
  display: flex;
  gap: 2.5rem;
}
nav .buttons a {
  color: #6E727E;
  font-weight: 400;
  text-decoration: none;
  font-size: 1.2rem;
}
@media screen and (max-width: 811px) {
  nav .buttons {
    display: none;
  }
  nav button.button {
    display: none;
  }
}

section#main {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}
section#main .intro {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  gap: 3rem;
  width: 45%;
}
section#main .intro .title {
  padding-top: 10%;
}
section#main .intro .title h3 {
  margin: 0;
  font-size: 3rem;
  font-weight: 500;
}
section#main .intro .title p {
  color: var(--side-text-color);
  font-size: 1.2rem;
  font-weight: 500;
}
section#main .intro .buttons {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
section#main .intro .buttons button.explore {
  background: transparent;
  border: 1.5px solid var(--accent-color);
  color: var(--accent-color);
}
section#main .intro .subscriber {
  background-color: var(--background-black-color);
  border-radius: 60px;
  padding: 3rem;
}
section#main .intro .subscriber h5 {
  margin: 0;
  color: white;
  font-size: 2rem;
}
section#main .intro .subscriber .input-field {
  display: flex;
  border-radius: 10px 40px 10px 40px;
  background: var(--background-darker-color);
  padding: 0 0 0 2rem;
  margin-top: 5rem;
}
section#main .intro .subscriber .input-field input {
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
}
section#main .intro .subscriber .input-field input::placeholder {
  color: white;
  opacity: 1;
}
section#main .intro .subscriber .input-field input::-ms-input-placeholder {
  color: white;
}
section#main .intro .subscriber .input-field input button.button {
  width: 5rem;
}
section#main .infographics {
  display: flex;
  flex-shrink: 1;
  width: 45%;
  flex-direction: column;
  gap: 0.5rem;
}
section#main .infographics .top {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  align-items: flex-start;
  gap: 1rem;
}
section#main .infographics .top .text-blocks {
  flex-shrink: 1;
  width: 50%;
}
section#main .infographics .top .text-blocks .block {
  border-radius: 3rem 3rem 3rem 0;
  background-color: var(--accent-color);
  padding: 10% 4rem;
  border: 40px;
  color: white;
  height: min-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}
section#main .infographics .top .text-blocks .block h3 {
  font-size: 2.5rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
section#main .infographics .top .text-blocks .block h5 {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
section#main .infographics .top .text-blocks .block p {
  margin: 0;
}
section#main .infographics .top .text-blocks .block.bottom {
  border-radius: 0 3rem 3rem 3rem;
  margin-top: 0.5rem;
  justify-content: flex-start;
}
section#main .infographics .top .text-blocks .dot {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  font-weight: 500;
  position: absolute;
  border: white solid 4px;
  background-color: var(--background-darker-color);
  width: 7rem;
  height: 7rem;
  border-radius: 100px;
  color: white;
  transform: translate(-50%, -50%);
}
section#main .infographics .top .text-blocks .dot.mobile {
  display: none;
}
section#main .infographics .top .image1 {
  width: 50%;
  flex-shrink: 1;
  border-radius: 60px;
  background-image: url("images/image1.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 14.8rem;
}
section#main .infographics .image2 {
  width: 100%;
  flex-shrink: 1;
  border-radius: 60px;
  background-image: url("images/image2.jfif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 14.8rem;
}
section#main .infographics .block > * {
  text-align: center;
}
@media screen and (max-width: 1199px) {
  section#main {
    flex-direction: column;
    align-items: center;
  }
  section#main .intro {
    width: 100%;
    align-items: center;
  }
  section#main .intro > * {
    text-align: center;
  }
  section#main .intro .subscriber {
    display: none;
  }
  section#main .infographics {
    width: 80%;
    padding: 0 20%;
  }
  section#main .infographics .top .image1 {
    height: 15.8rem;
  }
}
@media screen and (max-width: 811px) {
  section#main .infographics .top {
    flex-direction: column;
  }
  section#main .infographics .top .text-blocks {
    align-items: center;
    width: 100%;
  }
  section#main .infographics .top .text-blocks .block {
    border-radius: 3rem;
  }
  section#main .infographics .top .text-blocks .block.bottom {
    border-radius: 3rem;
  }
  section#main .infographics .top .text-blocks .dot.mobile {
    display: flex;
    transform: translate(-50%, -50%);
    left: 50%;
    right: auto;
  }
  section#main .infographics .top .text-blocks .dot.desktop {
    display: none;
  }
  section#main .infographics .top .image1 {
    width: 100%;
  }
}

section#why .title {
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 3rem;
}
section#why .title .accent {
  color: var(--accent-color);
}
section#why .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1rem;
}
section#why .grid .card {
  border: 2px solid #F4F4F6;
  border-radius: 40px;
  padding: 1.5rem 1.2rem;
}
section#why .grid .card .name {
  font-size: 1.6rem;
  margin-bottom: 1.8rem;
  font-weight: 500;
}
section#why .grid .card .opinion {
  color: #B3B3BA;
  font-size: 1.2rem;
}
@media screen and (max-width: 1199px) {
  section#why .grid {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 811px) {
  section#why .grid {
    grid-template-columns: 1fr;
  }
}

section#faq {
  background-color: var(--cream-color);
}
section#faq .background {
  background-color: white;
  border: 2px solid var(--border-color);
  border-radius: 4rem;
  padding: 3rem;
}
section#faq .background .header {
  background-color: var(--cream-color);
  padding: 3rem 5rem;
  border-radius: 4rem;
  border: 2px solid var(--border-color);
  margin-bottom: 1rem;
}
section#faq .background .header .title {
  font-weight: 500;
  font-size: 3rem;
  margin-bottom: 0.5rem;
  width: 100%;
  text-align: center;
}
section#faq .background .header .tagline {
  color: var(--side-text-color);
  font-size: 1rem;
  width: 100%;
  text-align: center;
}
section#faq .background .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5rem;
}
section#faq .background .grid .tile {
  background-color: white;
  border: 2px solid var(--border-color);
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  text-align: center;
}
section#faq .background .bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-radius: 40px;
  margin-top: 1rem;
  background-color: var(--accent-color);
  padding: 3rem;
  gap: 1rem;
}
section#faq .background .bottom .text {
  color: white;
}
section#faq .background .bottom .text .up {
  font-weight: 500;
  font-size: 1.1rem;
}
section#faq .background .bottom .text .down {
  font-weight: 400;
  font-size: 0.8rem;
}
section#faq .background .bottom .button {
  width: auto;
  border: 2px solid var(--border-color);
  overflow: hidden;
}
@media screen and (max-width: 811px) {
  section#faq .background {
    padding-left: 0;
    padding-right: 0;
  }
  section#faq .background .header {
    padding-left: 0;
    padding-right: 0;
  }
  section#faq .background .grid {
    grid-template-columns: 1fr;
  }
  section#faq .background .bottom {
    flex-direction: column;
    justify-content: center;
  }
  section#faq .background .bottom .text {
    width: 100%;
    text-align: center;
  }
}

section {
  padding: 2% 8.5%;
}

button.button {
  height: 54px;
  line-height: 54px;
  font-size: 18px;
  width: 166px;
  background-color: var(--accent-color);
  border-style: none;
  border-radius: 15px 50px 15px 50px;
  color: white;
  font-family: "DM", sans-serif;
  font-weight: 400;
  text-align: center;
  vertical-align: center;
}

/*# sourceMappingURL=style.css.map */
